<!-- templates/layout.tmpl -->
<html>
  <head>
    <title>Indexer</title>
  </head>
  <body>
    <h1>Indexer</h1>
    <table>
      <thead>
      <tr>
      	<td>#</td>
      	<td>设备ID</td>
      	<td>文件路径</td>
      	<td>文件大小</td>
      	<td>更新时间</td>
      </tr>
      </thead>
      <tbody>
      	{{range $index, $file := .Files}}
      	<tr>
      		<td>{{$index}}</td>
      		<td>{{$file.DeviceID}}</td>
      		<td>{{$file.Path}}</td>
      		<td>{{$file.Size}}</td>
      		<td>{{$file.Updated}}</td>
      	</tr>{{end}}
      </tbody>
    </table>
  </body>
</html>